body {
  margin: 0px;
  padding: 0px;
}

  
h1{
  text-align: center;
  padding-top:20px;     
}

footer{
  text-align: center;
}




 
 
  .navbar-buttons {
    display: flex; /* Use flexbox for the buttons container */
  }
  
  .btn {
    margin-left: 5px; /* Add some spacing between the buttons (adjust as needed) */
  }

  /* .order{
    width:50%; 
    margin: 20 auto; 
    background: white;
  } */

  
  
 